In [1]:
import pandas as pd

In [5]:
df_carros = pd.DataFrame(columns=['Ano,','Marca','Modelo'])

In [6]:
df_carros.head()

Empty DataFrame
Columns: [Ano,, Marca, Modelo]
Index: []

In [7]:
#Definir Local na tabela e Inserir o dado
df_carros.loc[0] = [2021,'Toyota','Corola']

In [8]:
df_carros.head()

   Ano,   Marca  Modelo
0  2021  Toyota  Corola

In [9]:
df_carros.loc[1] = [2015,'Honda','Civic']

In [10]:
df_carros.head()

   Ano,   Marca  Modelo
0  2021  Toyota  Corola
1  2015   Honda   Civic

In [11]:
data = {  'Ano': [2021,2014],
        "Marca": ['Toyota','Honda'],
        "Modelo": ['Corola','Civic']}

In [12]:
print(type(data))

<class 'dict'>

In [13]:
# POVOAR UM DATAFRAME COM DADOS DE UM DICIONARIO:
# As chaves se tornam os Cabe√ßalhos

df2 = pd.DataFrame(data)

In [14]:
df2.head()

    Ano   Marca  Modelo
0  2021  Toyota  Corola
1  2014   Honda   Civic