In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("campeonato-brasileiro-full.csv")

In [3]:
df.head()

,ID,Rodada,Data,Horário,Dia,Mandante,Visitante,Vencedor,Arena,Mandante Placar,Visitante Placar,Estado Mandante,Estado Visitante,Estado Vencedor
0,1,1,2000-07-29,16h00,Sábado,Fluminense,Bahia,Fluminense,Maracanã,2,0,RJ,BA,RJ
1,2,1,2000-07-29,16h00,Sábado,Vasco,Sport,Sport,São Januário,0,2,RJ,PE,PE
2,3,1,2000-07-29,16h00,Sábado,Vitória,Palmeiras,Vitória,Barradão,4,1,ES,SP,ES
3,4,1,2000-07-30,17h00,Domingo,Botafogo-RJ,Atlético-MG,-,Caio Martins,0,0,RJ,MG,-
4,5,1,2000-07-30,18h30,Domingo,Juventude,Flamengo,-,Alfredo Jaconi,1,1,RS,RJ,-

In [5]:
dia_jogo = df["Dia"]

In [6]:
df_2 = pd.read_csv("horas_estudadas.csv")

In [7]:
df_2.head()

     Nome  Segunda  Terça  Quarta  Quinta  Sexta  Sabado  Domingo
0  Victor        2      3       1       3      0       0        3
1  Amanda        0      3       0       4      3       1        2
2    Luis        1      2       4       5      6       0        0
3   Júlia        1      1       2       0      0       1        2

In [8]:
type(df_2)

pandas.core.frame.DataFrame

In [13]:
import warnings
warnings.filterwarnings('ignore')

In [14]:
# Selecionamos apenas Uma coluna. 
# O metodo Squeeze -> Se houver apenas Uma coluna ele faz com que retorne como uma Série
df_3 = pd.read_csv("horas_estudadas.csv", usecols=["Nome"], squeeze=True)

In [12]:
# Retorna Uma Serie
type(df_3)

pandas.core.series.Series

In [15]:
# Temos apenas a coluna / Serie 'Nomes' :
df_3.head()

0    Victor
1    Amanda
2      Luis
3     Júlia
Name: Nome, dtype: object

In [16]:
# Caso NÃO selecionemos apenas Uma coluna, será retornado Um DataFrame
df_4 = pd.read_csv("horas_estudadas.csv", squeeze=True)

In [17]:
type(df_4)

pandas.core.frame.DataFrame

In [18]:
# Lista
a = [10,20,30,40]

In [22]:
# Transformou uma Lista/Serie em uma Coluna:
serie_a = pd.Series(data=a)

In [23]:
# Coluna com indice:
serie_a.head()

0    10
1    20
2    30
3    40
dtype: int64

In [24]:
type(serie_a)

pandas.core.series.Series

In [27]:
# Criando uma lista / Serie diretamente no método 'Series' do Pandas
# Criamos um'index' com a mesma quantidade de elementos da Serie
# 'Name' -> Da nome a série
pd.Series([1,2,3,4,5,6,7], index=['Segunda','Terça','Quarta','Quinta',
                                 'Sexta','Sabado','Domingo'], name='Dias Da Semana')

Segunda    1
Terça      2
Quarta     3
Quinta     4
Sexta      5
Sabado     6
Domingo    7
Name: Dias Da Semana, dtype: int64

In [28]:
# Com  Dicionarios
# Desta maneira não é preciso Criar 'Index' :
dicio = {'Domingo':1, 'Seg':2, 'Ter':3, 'Quarta':4,
         'Quinta':5, 'Sexta':6, 'Sabado':7}

In [29]:
dias_da_semana = pd.Series(dicio)

In [30]:
dias_da_semana.head()

Domingo    1
Seg        2
Ter        3
Quarta     4
Quinta     5
dtype: int64

In [31]:
type(dias_da_semana)

pandas.core.series.Series