In [6]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv('casa_para_venda.csv')

In [3]:
df.head()

,cidade,area,rooms,bathroom,parking spaces,floor,animal,furniture,hoa (R$),rent amount (R$),property tax (R$),fire insurance (R$),total (R$)
0,São Paulo,70,2,1,1,7,acept,furnished,2065,3300,211,42,5618
1,São Paulo,320,4,4,0,20,acept,not furnished,1200,4960,1750,63,7973
2,Porto Alegre,80,1,1,1,6,acept,not furnished,1000,2800,0,41,3841
3,Porto Alegre,51,2,1,0,2,acept,not furnished,270,1112,22,17,1421
4,São Paulo,25,1,1,0,1,not acept,not furnished,0,800,25,11,836

In [7]:
# SELECIONAR APENAS UMA COLUNA
# SQUEEZE -> PEGA UMA COLUNA E TRANSFORMA NUMA SERIE/LISTA
df_2 = pd.read_csv('casa_para_venda.csv', usecols=['area'], squeeze=True)

In [26]:
# PRIEMIRAS LINHAS
df_2.head(+8)


# ULTIMAS 4 LINHAS
#df_2.tail(4)

0     70
1    320
2     80
3     51
4     25
5    376
6     72
7    213
Name: area, dtype: int64

In [16]:
# POSIÇÂO 3
df_2[3]

51

In [20]:
# PARA USAR LOCALIZAÇÃO POR INDEXAÇÃO NEGATIVA, TEMOS QUE USAR O 'ILOC':
df_2.iloc[-1]

#Mostra o ultimo elemento

80

In [23]:
# Localização com base no INDEX -> Que é a primeira coluna que aparece em df.head()
df_2.iloc[0]

70

In [27]:
# PARA TRAZER MAIS DE UM VALOR BASEADO NO INDEX USAMOS COLCHETES DUPLOS
df_2.iloc[[0,3,6]]

0    70
3    51
6    72
Name: area, dtype: int64

In [29]:
# aqui estamos usando o 'loc' e NÂO o 'ILOC' -> Podemos usar Slice

df_2.loc[2:8]

2     80
3     51
4     25
5    376
6     72
7    213
8    152
Name: area, dtype: int64