In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Passageiros_Outliers - Página1.csv')

In [3]:
df.head(16)

   Categoria      Gênero  Idade
0          1   Masculino   22.0
1          2    Feminino   32.0
2          3   Masculino   23.0
3          1    Feminino   25.0
4          2   Masculino   23.0
5          3    Feminino   48.0
6          4    Feminino   53.0
7          1   Masculino   34.0
8          2    Feminino   67.0
9          3  Masculino   288.0

In [4]:
df["Idade"] = df['Idade'].astype(int)

In [5]:
df.Idade.head()

0    22
1    32
2    23
3    25
4    23
Name: Idade, dtype: int64

In [6]:
# DESCOBRIR QUAL O INDEX DA CÉLULA QUE CONTÉM VALOR DISCREPANTE NA COLUNA 
#.. IDADE
index_outliers_idade = df.loc[df.Idade >= 120].index

In [7]:
# APONTA O INDEX OU LINHA 9
print(index_outliers_idade)

Int64Index([9], dtype='int64')

In [8]:
# LOCALIZAÇÃO PRECISA
df.loc[index_outliers_idade]

   Categoria      Gênero  Idade
9          3  Masculino     288

In [9]:
# APONTANDO LINHA E COLUNA PARA O VALOR:
df.loc[9, 'Idade']

288

In [10]:
# Quartil (?)
#media_ = (288/100)*25
#print(media_)

In [11]:
media_coluna = df.Idade.mean()
print(media_coluna)

61.5

In [12]:
# SUBSTITUIR O VALOR:
df.loc[9, 'Idade'] = media_coluna

In [13]:
df.head(15)

   Categoria      Gênero  Idade
0          1   Masculino   22.0
1          2    Feminino   32.0
2          3   Masculino   23.0
3          1    Feminino   25.0
4          2   Masculino   23.0
5          3    Feminino   48.0
6          4    Feminino   53.0
7          1   Masculino   34.0
8          2    Feminino   67.0
9          3  Masculino    61.5