In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("Passageiros.csv")

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Categoria  9 non-null      int64
 1   Gênero     9 non-null      object
 2   Idade      9 non-null      float64
 3   Valor      9 non-null      object
 4   Embarque   9 non-null      object
 5   Date       9 non-null      object
dtypes: float64(1), int64(1), object(4)
memory usage: 560.0+ bytes

In [9]:
df.Idade.dtype

dtype('float64')

In [13]:
# Mudar variavel do tipo Objeto para Categorica
df.Gênero = df.Gênero.astype("category")

In [14]:
df.Gênero.dtype

CategoricalDtype(categories=['Feminino', 'Masculino'], ordered=False)

In [15]:
# Agora a coluna Gênero é Categorica:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Categoria  9 non-null      int64
 1   Gênero     9 non-null      category
 2   Idade      9 non-null      float64
 3   Valor      9 non-null      object
 4   Embarque   9 non-null      object
 5   Date       9 non-null      object
dtypes: category(1), float64(1), int64(1), object(3)
memory usage: 621.0+ bytes

# Nova forma de converter:

In [16]:
df_2 = pd.read_csv("Passageiros.csv")

In [17]:
df_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Categoria  9 non-null      int64
 1   Gênero     9 non-null      object
 2   Idade      9 non-null      float64
 3   Valor      9 non-null      object
 4   Embarque   9 non-null      object
 5   Date       9 non-null      object
dtypes: float64(1), int64(1), object(4)
memory usage: 560.0+ bytes

In [18]:
df_2 = df_2.convert_dtypes()

In [19]:
# Converteu os 1Objects' para 'Strings' e a Idade (em Float) para Int64:
#.. Tudo automaticamente;
df_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Categoria  9 non-null      Int64
 1   Gênero     9 non-null      string
 2   Idade      9 non-null      Int64
 3   Valor      9 non-null      string
 4   Embarque   9 non-null      string
 5   Date       9 non-null      string
dtypes: Int64(2), string(4)
memory usage: 578.0 bytes