In [1]:
import pandas as pd

In [2]:
# ESPECIFICAMOS SOMENTE AS COLUNAS QUE QUEREMOS CARREGAR DO DF

df = pd.read_csv('titanic.csv', usecols= ['Survived', 'Sex', 'Age'])

In [3]:
# 3 Coluns apenas:
df.head()

   Survived     Sex   Age
0         0    male  22.0
1         1  female  38.0
2         1  female  26.0
3         1  female  35.0
4         0    male  35.0

In [14]:
# VAMOS CALCULAR AGORA O TOTAL DE SOBREVIVENTES && MEDIA

df.groupby('Sex').agg(TOTAL_Sobrevivencia = ("Survived", 'sum'))

        TOTAL_Sobrevivencia
Sex
female                  233
male                    109

In [17]:
# Agg -> Agregação

# Cria a coluna 'Taxa de Sobrevivencia' , que pegou as infs na col 'Survived'
#..relacionados á coluna 'Sex'
df.groupby('Sex').agg(Total_Sobrevivencia = ("Survived", 'sum'), 
                    Média_De_Sobrevivencia = ("Survived", 'mean'),
                     Média_De_Idade = ('Age', 'mean'))

        Total_Sobrevivencia  Média_De_Sobrevivencia  Média_De_Idade
Sex
female                  233                0.742038       27.915709
male                    109                0.188908       30.726645