In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("campeonato-brasileiro-full.csv")

In [12]:
df.head()

,Rodada,Data,Horário,Dia,Mandante,Visitante,Vencedor,Arena,Mandante Placar,Visitante Placar,Estado Mandante,Estado Visitante,Estado Vencedor
0,1,2000-07-29,16h00,Sábado,Fluminense,Bahia,Fluminense,Maracanã,2,0,RJ,BA,RJ
1,1,2000-07-29,16h00,Sábado,Vasco,Sport,Sport,São Januário,0,2,RJ,PE,PE
2,1,2000-07-29,16h00,Sábado,Vitória,Palmeiras,Vitória,Barradão,4,1,ES,SP,ES
3,1,2000-07-30,17h00,Domingo,Botafogo-RJ,Atlético-MG,-,Caio Martins,0,0,RJ,MG,-
4,1,2000-07-30,18h30,Domingo,Juventude,Flamengo,-,Alfredo Jaconi,1,1,RS,RJ,-

In [9]:
# EXCLUIR COLUNA 'ID':
# implace = True -> Confirma a exclusão.
df.drop(columns='ID', inplace=True)

In [10]:
df.head(2)

,Rodada,Data,Horário,Dia,Mandante,Visitante,Vencedor,Arena,Mandante Placar,Visitante Placar,Estado Mandante,Estado Visitante,Estado Vencedor
0,1,2000-07-29,16h00,Sábado,Fluminense,Bahia,Fluminense,Maracanã,2,0,RJ,BA,RJ
1,1,2000-07-29,16h00,Sábado,Vasco,Sport,Sport,São Januário,0,2,RJ,PE,PE

In [13]:
# 
df.drop(columns=['Dia','Arena'], inplace=True)

In [14]:
# COLUNAS EXCLUIDAS (3):
df.head()

,Rodada,Data,Horário,Mandante,Visitante,Vencedor,Mandante Placar,Visitante Placar,Estado Mandante,Estado Visitante,Estado Vencedor
0,1,2000-07-29,16h00,Fluminense,Bahia,Fluminense,2,0,RJ,BA,RJ
1,1,2000-07-29,16h00,Vasco,Sport,Sport,0,2,RJ,PE,PE
2,1,2000-07-29,16h00,Vitória,Palmeiras,Vitória,4,1,ES,SP,ES
3,1,2000-07-30,17h00,Botafogo-RJ,Atlético-MG,-,0,0,RJ,MG,-
4,1,2000-07-30,18h30,Juventude,Flamengo,-,1,1,RS,RJ,-

In [15]:
# OUTRO MÉTODO DE EXCLUSÃO:
del df['Vencedor']

In [16]:
df.head()

,Rodada,Data,Horário,Mandante,Visitante,Mandante Placar,Visitante Placar,Estado Mandante,Estado Visitante,Estado Vencedor
0,1,2000-07-29,16h00,Fluminense,Bahia,2,0,RJ,BA,RJ
1,1,2000-07-29,16h00,Vasco,Sport,0,2,RJ,PE,PE
2,1,2000-07-29,16h00,Vitória,Palmeiras,4,1,ES,SP,ES
3,1,2000-07-30,17h00,Botafogo-RJ,Atlético-MG,0,0,RJ,MG,-
4,1,2000-07-30,18h30,Juventude,Flamengo,1,1,RS,RJ,-