In [3]:
import pandas as pd

In [6]:
df = pd.read_csv("campeonato-brasileiro-full.csv")

In [16]:
# Agregador para média & Desvio Padrão:

print(df[["Mandante Placar","Visitante Placar"]].agg(["mean","std"]))

      Mandante Placar  Visitante Placar
mean         1.588292          1.053492
std          1.245473          1.040604

In [17]:
# Quando quiser apenas algumas destas informaçãos, Use a função a Cima.
df.describe()

                ID  Mandante Placar  Visitante Placar
count  8319.000000      8319.000000       8319.000000
mean   4160.000000         1.588292          1.053492
std    2401.632778         1.245473          1.040604
min       1.000000         0.000000          0.000000
25%    2080.500000         1.000000          0.000000
50%    4160.000000         1.000000          1.000000
75%    6239.500000         2.000000          2.000000
max    8319.000000         7.000000          7.000000

In [18]:



print(df[["Mandante Placar","Visitante Placar"]].agg(["min","max"]))

     Mandante Placar  Visitante Placar
min                0                 0
max                7                 7

In [20]:
# PARA ESPECIFICAR O QUE QUER DE CADA COLUNA:

df.agg({"Mandante Placar": ["mean", 'max'], "Visitante Placar": ["std", "max"]})

      Mandante Placar  Visitante Placar
mean         1.588292               NaN
max          7.000000          7.000000
std               NaN          1.040604