In [1]:
import glob
import pandas as pd

In [2]:
path = r'/home/dikson/CURSOS_ALL/Metodo Voyager DS/'

In [3]:
# COMO OS ARQUIVOS .CSV ESTÃO (AQUI) NA MESMA PASTA DO .IPYNB
#..POSSO USAR APENAS O PONTO FINAL;
path = r'.'

In [4]:
filenames = glob.glob(path + "/*.csv")

In [5]:
print(filenames)

['./campeonato-brasileiro-full.csv', './casa_para_venda.csv']

In [6]:
lista_arquivos = []

In [7]:
# Vai percorrer os arquivos .csv na variavel 'filenames' e adicionar 
#..os dois na lista_arquivos

for I in filenames:
    lista_arquivos.append(pd.read_csv(I))

In [8]:
# Concatena/Junta os Dois .CSVs  
# "ignore_index=True)"  -> Cria um novo Index para o novo arquivo
#..ignorando os originais


df_full_csv = pd.concat(lista_arquivos, ignore_index=True)

In [9]:

# Alongou o DataFrame na Horizontal, Adicionando o 'Vendas de Casas'

df_full_csv.head()

,ID,Rodada,Data,Horário,Dia,Mandante,Visitante,Vencedor,Arena,Mandante Placar,...,bathroom,parking spaces,floor,animal,furniture,hoa (R$),rent amount (R$),property tax (R$),fire insurance (R$),total (R$)
0,1.0,1,2000-07-29,16h00,Sábado,Fluminense,Bahia,Fluminense,Maracanã,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2.0,1,2000-07-29,16h00,Sábado,Vasco,Sport,Sport,São Januário,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3.0,1,2000-07-29,16h00,Sábado,Vitória,Palmeiras,Vitória,Barradão,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4.0,1,2000-07-30,17h00,Domingo,Botafogo-RJ,Atlético-MG,-,Caio Martins,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5.0,1,2000-07-30,18h30,Domingo,Juventude,Flamengo,-,Alfredo Jaconi,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
df_full_csv.tail(25)

,ID,Rodada,Data,Horário,Dia,Mandante,Visitante,Vencedor,Arena,Mandante Placar,...,bathroom,parking spaces,floor,animal,furniture,hoa (R$),rent amount (R$),property tax (R$),fire insurance (R$),total (R$)
18986,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,1.0,3,not acept,not furnished,180.0,1250.0,0.0,17.0,1447.0
18987,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,0.0,-,acept,not furnished,0.0,870.0,0.0,14.0,884.0
18988,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.0,3.0,15,not acept,furnished,3519.0,12000.0,1287.0,153.0,16960.0
18989,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.0,2.0,2,acept,furnished,1150.0,2710.0,84.0,35.0,3979.0
18990,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.0,1.0,16,not acept,furnished,768.0,2900.0,63.0,37.0,3768.0
18991,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,0.0,13,acept,not furnished,570.0,2580.0,0.0,33.0,3183.0
18992,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.0,2.0,15,acept,not furnished,842.0,2400.0,117.0,36.0,3395.0
18993,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.0,1.0,-,acept,not furnished,0.0,3300.0,115.0,51.0,3466.0
18994,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.0,1.0,11,acept,not furnished,2000.0,2700.0,500.0,35.0,5235.0
18995,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,0.0,1,acept,not furnished,330.0,1200.0,159.0,18.0,1707.0
18996,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,0.0,19,not acept,not furnished,583.0,1000.0,46.0,13.0,1642.0
18997,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.0,0.0,4,acept,not furnished,909.0,10140.0,772.0,129.0,11950.0
18998,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.0,1.0,13,acept,not furnished,680.0,4000.0,140.0,51.0,4871.0
18999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.0,3.0,1,acept,furnished,2000.0,2200.0,750.0,28.0,4978.0
19000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.0,3.0,3,not acept,not furnished,3800.0,11000.0,1100.0,140.0,16040.0
19001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.0,3.0,4,acept,furnished,850.0,3300.0,220.0,49.0,4419.0
19002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.0,2.0,5,acept,not furnished,4200.0,4000.0,1042.0,51.0,9293.0
19003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,0.0,1,acept,not furnished,560.0,3900.0,184.0,51.0,4695.0
19004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.0,2.0,11,acept,not furnished,888.0,7521.0,221.0,96.0,8726.0
19005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.0,2.0,8,not acept,furnished,0.0,13500.0,0.0,172.0,13670.0
19006,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,1.0,5,not acept,furnished,402.0,1478.0,24.0,22.0,1926.0
19007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.0,4.0,17,acept,not furnished,3100.0,15000.0,973.0,191.0,19260.0
19008,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.0,0.0,8,not acept,furnished,980.0,6000.0,332.0,78.0,7390.0
19009,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.0,2.0,8,acept,furnished,1585.0,12000.0,279.0,155.0,14020.0
19010,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,0.0,-,acept,not furnished,0.0,1400.0,165.0,22.0,1587.0