In [1]:
import pandas as pd
import os
import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv("campeonato-brasileiro-full.csv")

In [3]:
display(df)

,ID,Rodada,Data,Horário,Dia,Mandante,Visitante,Vencedor,Arena,Mandante Placar,Visitante Placar,Estado Mandante,Estado Visitante,Estado Vencedor
0,1,1,2000-07-29,16h00,Sábado,Fluminense,Bahia,Fluminense,Maracanã,2,0,RJ,BA,RJ
1,2,1,2000-07-29,16h00,Sábado,Vasco,Sport,Sport,São Januário,0,2,RJ,PE,PE
2,3,1,2000-07-29,16h00,Sábado,Vitória,Palmeiras,Vitória,Barradão,4,1,ES,SP,ES
3,4,1,2000-07-30,17h00,Domingo,Botafogo-RJ,Atlético-MG,-,Caio Martins,0,0,RJ,MG,-
4,5,1,2000-07-30,18h30,Domingo,Juventude,Flamengo,-,Alfredo Jaconi,1,1,RS,RJ,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8314,8315,38,2021-02-25,21:30,Quinta-Feira,Internacional,Corinthians,-,Beira Rio,0,0,RS,SP,-
8315,8316,38,2021-02-25,21:30,Quinta-Feira,Bahia,Santos,Bahia,Itaipava Arena Fonte Nova,2,0,BA,SP,BA
8316,8317,38,2021-02-25,21:30,Quinta-Feira,Athlético-PR,Sport,Athlético-PR,Arena da Baixada,2,0,PR,PE,PR
8317,8318,38,2021-02-25,21:30,Quinta-Feira,Ceará,Botafogo-RJ,Ceará,Castelão,2,1,CE,RJ,CE
8318,8319,38,2021-02-25,21:30,Quinta-Feira,Atlético-GO,Coritiba,Atlético-GO,Antônio Accioly,3,1,GO,PR,GO

In [4]:
cwd = os.getcwd()

In [5]:
print(cwd)

/home/dikson/CURSOS_ALL/Metodo Voyager DS

In [6]:
print('Ola Mundo')

Ola Mundo

In [7]:
df

,ID,Rodada,Data,Horário,Dia,Mandante,Visitante,Vencedor,Arena,Mandante Placar,Visitante Placar,Estado Mandante,Estado Visitante,Estado Vencedor
0,1,1,2000-07-29,16h00,Sábado,Fluminense,Bahia,Fluminense,Maracanã,2,0,RJ,BA,RJ
1,2,1,2000-07-29,16h00,Sábado,Vasco,Sport,Sport,São Januário,0,2,RJ,PE,PE
2,3,1,2000-07-29,16h00,Sábado,Vitória,Palmeiras,Vitória,Barradão,4,1,ES,SP,ES
3,4,1,2000-07-30,17h00,Domingo,Botafogo-RJ,Atlético-MG,-,Caio Martins,0,0,RJ,MG,-
4,5,1,2000-07-30,18h30,Domingo,Juventude,Flamengo,-,Alfredo Jaconi,1,1,RS,RJ,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8314,8315,38,2021-02-25,21:30,Quinta-Feira,Internacional,Corinthians,-,Beira Rio,0,0,RS,SP,-
8315,8316,38,2021-02-25,21:30,Quinta-Feira,Bahia,Santos,Bahia,Itaipava Arena Fonte Nova,2,0,BA,SP,BA
8316,8317,38,2021-02-25,21:30,Quinta-Feira,Athlético-PR,Sport,Athlético-PR,Arena da Baixada,2,0,PR,PE,PR
8317,8318,38,2021-02-25,21:30,Quinta-Feira,Ceará,Botafogo-RJ,Ceará,Castelão,2,1,CE,RJ,CE
8318,8319,38,2021-02-25,21:30,Quinta-Feira,Atlético-GO,Coritiba,Atlético-GO,Antônio Accioly,3,1,GO,PR,GO

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8319 entries, 0 to 8318
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID                8319 non-null   int64
 1   Rodada            8319 non-null   object
 2   Data              8319 non-null   object
 3   Horário           7962 non-null   object
 4   Dia               8319 non-null   object
 5   Mandante          8319 non-null   object
 6   Visitante         8319 non-null   object
 7   Vencedor          8319 non-null   object
 8   Arena             8319 non-null   object
 9   Mandante Placar   8319 non-null   int64
 10  Visitante Placar  8319 non-null   int64
 11  Estado Mandante   8319 non-null   object
 12  Estado Visitante  8319 non-null   object
 13  Estado Vencedor   8319 non-null   object
dtypes: int64(3), object(11)
memory usage: 910.0+ KB

In [9]:
df.describe()

                ID  Mandante Placar  Visitante Placar
count  8319.000000      8319.000000       8319.000000
mean   4160.000000         1.588292          1.053492
std    2401.632778         1.245473          1.040604
min       1.000000         0.000000          0.000000
25%    2080.500000         1.000000          0.000000
50%    4160.000000         1.000000          1.000000
75%    6239.500000         2.000000          2.000000
max    8319.000000         7.000000          7.000000

In [10]:
# Para valores Não Numericos:
df.describe(include="O")

,Rodada,Data,Horário,Dia,Mandante,Visitante,Vencedor,Arena,Estado Mandante,Estado Visitante,Estado Vencedor
count,8319,8319,7962,8319,8319,8319,8319,8319,8319,8319,8319
unique,53,1811,59,12,61,63,59,114,15,15,16
top,16,2008-07-06,16h00,Domingo,São Paulo,Fluminense,-,Maracanã,SP,SP,-
freq,222,15,1804,3807,393,392,2148,626,2136,2136,2148

In [11]:
# 
df.describe(include="all")

,ID,Rodada,Data,Horário,Dia,Mandante,Visitante,Vencedor,Arena,Mandante Placar,Visitante Placar,Estado Mandante,Estado Visitante,Estado Vencedor
count,8319.000000,8319,8319,7962,8319,8319,8319,8319,8319,8319.000000,8319.000000,8319,8319,8319
unique,NaN,53,1811,59,12,61,63,59,114,NaN,NaN,15,15,16
top,NaN,16,2008-07-06,16h00,Domingo,São Paulo,Fluminense,-,Maracanã,NaN,NaN,SP,SP,-
freq,NaN,222,15,1804,3807,393,392,2148,626,NaN,NaN,2136,2136,2148
mean,4160.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.588292,1.053492,NaN,NaN,NaN
std,2401.632778,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.245473,1.040604,NaN,NaN,NaN
min,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,NaN,NaN,NaN
25%,2080.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,0.000000,NaN,NaN,NaN
50%,4160.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,1.000000,NaN,NaN,NaN
75%,6239.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.000000,2.000000,NaN,NaN,NaN
max,8319.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.000000,7.000000,NaN,NaN,NaN

In [12]:
# Mostra quantidade de linhas e colunas no DataFrame:
df.shape

(8319, 14)

In [13]:
# Empacotando Linhas & Colunas
linha, coluna = df.shape

In [14]:
print(f"Linhas:",linha,"\nColunas:",coluna)

Linhas: 8319
Colunas: 14

In [15]:
# Mostra o Numero de Linhas do Objeto:
df.size

116466

In [16]:
# COMANDO UTIL PARA VER TODAS AS COLUNAS:
# Mostra só as 5 priemiras Linhas do DataFrame:
df.head(5)

,ID,Rodada,Data,Horário,Dia,Mandante,Visitante,Vencedor,Arena,Mandante Placar,Visitante Placar,Estado Mandante,Estado Visitante,Estado Vencedor
0,1,1,2000-07-29,16h00,Sábado,Fluminense,Bahia,Fluminense,Maracanã,2,0,RJ,BA,RJ
1,2,1,2000-07-29,16h00,Sábado,Vasco,Sport,Sport,São Januário,0,2,RJ,PE,PE
2,3,1,2000-07-29,16h00,Sábado,Vitória,Palmeiras,Vitória,Barradão,4,1,ES,SP,ES
3,4,1,2000-07-30,17h00,Domingo,Botafogo-RJ,Atlético-MG,-,Caio Martins,0,0,RJ,MG,-
4,5,1,2000-07-30,18h30,Domingo,Juventude,Flamengo,-,Alfredo Jaconi,1,1,RS,RJ,-

In [17]:
df.min()

ID                           1
Rodada                       1
Data                2000-07-29
Dia                    Domingo
Mandante            América-MG
Visitante           América-MG
Vencedor                     -
Arena               1º de Maio
Mandante Placar              0
Visitante Placar             0
Estado Mandante             AL
Estado Visitante            AL
Estado Vencedor              -
dtype: object

In [18]:
df.mean()

ID                  4160.000000
Mandante Placar        1.588292
Visitante Placar       1.053492
dtype: float64

In [19]:
df.isnull()

,ID,Rodada,Data,Horário,Dia,Mandante,Visitante,Vencedor,Arena,Mandante Placar,Visitante Placar,Estado Mandante,Estado Visitante,Estado Vencedor
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8314,False,False,False,False,False,False,False,False,False,False,False,False,False,False
8315,False,False,False,False,False,False,False,False,False,False,False,False,False,False
8316,False,False,False,False,False,False,False,False,False,False,False,False,False,False
8317,False,False,False,False,False,False,False,False,False,False,False,False,False,False
8318,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [20]:
df.keys()

Index(['ID', 'Rodada', 'Data', 'Horário', 'Dia', 'Mandante', 'Visitante',
       'Vencedor', 'Arena', 'Mandante Placar', 'Visitante Placar',
       'Estado Mandante', 'Estado Visitante', 'Estado Vencedor'],
      dtype='object')

In [21]:
#ENCADEAMENTO DE METODOS:
df.mean().sort_values().head(3)

Visitante Placar       1.053492
Mandante Placar        1.588292
ID                  4160.000000
dtype: float64

In [22]:
# VISUALISA TODAS AS COLUNAS
# df.head()

# SELECIONA UMA DAS COLUNAS:
df["Mandante Placar"]   # Para palavras separadas

# OU
# display(df["Visitante"])

# OU
# df.Visitante

0       2
1       0
2       4
3       0
4       1
       ..
8314    0
8315    2
8316    2
8317    2
8318    3
Name: Mandante Placar, Length: 8319, dtype: int64

In [23]:
# ACESSANDO MAIS DE UMA COLUNA AO MESMO TEMPO

df[['Estado Visitante', "Estado Vencedor"]]

     Estado Visitante Estado Vencedor
0                  BA              RJ
1                  PE              PE
2                  SP              ES
3                  MG               -
4                  RJ               -
...               ...             ...
8314               SP               -
8315               SP              BA
8316               PE              PR
8317               RJ              CE
8318               PR              GO

[8319 rows x 2 columns]

In [24]:
# CRIA NOVO DF COM APENAS ALGUMAS COLUNAS (SELECIONADAS)
df_2 = df[['Estado Visitante', "Estado Vencedor", "Estado Mandante"]]
display(df_2)

     Estado Visitante Estado Vencedor Estado Mandante
0                  BA              RJ              RJ
1                  PE              PE              RJ
2                  SP              ES              ES
3                  MG               -              RJ
4                  RJ               -              RS
...               ...             ...             ...
8314               SP               -              RS
8315               SP              BA              BA
8316               PE              PR              PR
8317               RJ              CE              CE
8318               PR              GO              GO

[8319 rows x 3 columns]

In [26]:
display(df)

,ID,Rodada,Data,Horário,Dia,Mandante,Visitante,Vencedor,Arena,Mandante Placar,Visitante Placar,Estado Mandante,Estado Visitante,Estado Vencedor
0,1,1,2000-07-29,16h00,Sábado,Fluminense,Bahia,Fluminense,Maracanã,2,0,RJ,BA,RJ
1,2,1,2000-07-29,16h00,Sábado,Vasco,Sport,Sport,São Januário,0,2,RJ,PE,PE
2,3,1,2000-07-29,16h00,Sábado,Vitória,Palmeiras,Vitória,Barradão,4,1,ES,SP,ES
3,4,1,2000-07-30,17h00,Domingo,Botafogo-RJ,Atlético-MG,-,Caio Martins,0,0,RJ,MG,-
4,5,1,2000-07-30,18h30,Domingo,Juventude,Flamengo,-,Alfredo Jaconi,1,1,RS,RJ,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8314,8315,38,2021-02-25,21:30,Quinta-Feira,Internacional,Corinthians,-,Beira Rio,0,0,RS,SP,-
8315,8316,38,2021-02-25,21:30,Quinta-Feira,Bahia,Santos,Bahia,Itaipava Arena Fonte Nova,2,0,BA,SP,BA
8316,8317,38,2021-02-25,21:30,Quinta-Feira,Athlético-PR,Sport,Athlético-PR,Arena da Baixada,2,0,PR,PE,PR
8317,8318,38,2021-02-25,21:30,Quinta-Feira,Ceará,Botafogo-RJ,Ceará,Castelão,2,1,CE,RJ,CE
8318,8319,38,2021-02-25,21:30,Quinta-Feira,Atlético-GO,Coritiba,Atlético-GO,Antônio Accioly,3,1,GO,PR,GO