In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("campeonato-brasileiro-full.csv")

In [ ]:
df.head()

   ID Rodada        Data  ... Estado Mandante Estado Visitante Estado Vencedor
0   1      1  2000-07-29  ...              RJ               BA              RJ
1   2      1  2000-07-29  ...              RJ               PE              PE
2   3      1  2000-07-29  ...              ES               SP              ES
3   4      1  2000-07-30  ...              RJ               MG               -
4   5      1  2000-07-30  ...              RS               RJ               -

[5 rows x 14 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8319 entries, 0 to 8318
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID                8319 non-null   int64
 1   Rodada            8319 non-null   object
 2   Data              8319 non-null   object
 3   Horário           7962 non-null   object
 4   Dia               8319 non-null   object
 5   Mandante          8319 non-null   object
 6   Visitante         8319 non-null   object
 7   Vencedor          8319 non-null   object
 8   Arena             8319 non-null   object
 9   Mandante Placar   8319 non-null   int64
 10  Visitante Placar  8319 non-null   int64
 11  Estado Mandante   8319 non-null   object
 12  Estado Visitante  8319 non-null   object
 13  Estado Vencedor   8319 non-null   object
dtypes: int64(3), object(11)
memory usage: 910.0+ KB

In [ ]:
type(df)

pandas.core.frame.DataFrame

In [ ]:
df["Dia"]

0             Sábado
1             Sábado
2             Sábado
3            Domingo
4            Domingo
            ...
8314    Quinta-Feira
8315    Quinta-Feira
8316    Quinta-Feira
8317    Quinta-Feira
8318    Quinta-Feira
Name: Dia, Length: 8319, dtype: object

In [ ]:
type(df["Dia"])

pandas.core.series.Series

In [ ]:
df["Dia"].equals(df.Dia)

True

In [ ]:
dia = df["Dia"]

In [ ]:
type(dia)

pandas.core.series.Series

In [ ]:
dia.head()

0     Sábado
1     Sábado
2     Sábado
3    Domingo
4    Domingo
Name: Dia, dtype: object

In [ ]:
dia.dtype

dtype('O')

In [ ]:
dia.shape

(8319,)

In [ ]:
dia.index

RangeIndex(start=0, stop=8319, step=1)

In [ ]:
dia.info()

AttributeError: ignored

In [ ]:
dia.to_frame().info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8319 entries, 0 to 8318
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Dia     8319 non-null   object
dtypes: object(1)
memory usage: 65.1+ KB

In [ ]:
mandante_placar = df["Mandante Placar"]

In [ ]:
type(mandante_placar)

pandas.core.series.Series

In [ ]:
mandante_placar.to_frame().describe()

       Mandante Placar
count      8319.000000
mean          1.588292
std           1.245473
min           0.000000
25%           1.000000
50%           1.000000
75%           2.000000
max           7.000000

In [ ]:
mandante_placar.count()

8319

In [ ]:
mandante_placar.size

8319

In [ ]:
len(mandante_placar)

8319

In [ ]:
mandante_placar.unique()

array([2, 0, 4, 1, 3, 5, 6, 7])

In [ ]:
mandante_placar.nunique()

8

In [ ]:
mandante_placar.value_counts(ascending=True, bins = 10)

(2.1, 2.8]          0
(4.2, 4.9]          0
(6.3, 7.0]          8
(5.6, 6.3]         40
(4.9, 5.6]        138
(3.5, 4.2]        441
(2.8, 3.5]       1134
(-0.008, 0.7]    1639
(1.4, 2.1]       2142
(0.7, 1.4]       2777
Name: Mandante Placar, dtype: int64