In [1]:
nome ="Diskon Santos"

In [2]:
type(nome)

str

In [3]:
len(nome)

13

In [4]:
nome.split(" ")

['Diskon', 'Santos']

In [5]:
nome.replace(" ", "_")

'Diskon_Santos'

In [8]:
import pandas as pd

In [9]:
df = pd.read_csv("campeonato-brasileiro-full.csv")

In [13]:
df.head()

,ID,Rodada,Data,Horário,Dia,Mandante,Visitante,Vencedor,Arena,Mandante Placar,Visitante Placar,Estado Mandante,Estado Visitante,Estado Vencedor
0,1,1,2000-07-29,16h00,Sábado,Fluminense,Bahia,Fluminense,Maracanã,2,0,RJ,BA,RJ
1,2,1,2000-07-29,16h00,Sábado,Vasco,Sport,Sport,São Januário,0,2,RJ,PE,PE
2,3,1,2000-07-29,16h00,Sábado,Vitória,Palmeiras,Vitória,Barradão,4,1,ES,SP,ES
3,4,1,2000-07-30,17h00,Domingo,Botafogo-RJ,Atlético-MG,-,Caio Martins,0,0,RJ,MG,-
4,5,1,2000-07-30,18h30,Domingo,Juventude,Flamengo,-,Alfredo Jaconi,1,1,RS,RJ,-

In [15]:
# Copia 10 Linhas da coluna 'Arena'
arenas = df.loc[:10, "Arena"].copy()

In [16]:
arenas

0           Maracanã
1       São Januário
2           Barradão
3       Caio Martins
4     Alfredo Jaconi
5     Brinco de Ouro
6           Mineirão
7      Independência
8      Serra Dourada
9      Couto Pereira
10        Fonte Nova
Name: Arena, dtype: object

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8319 entries, 0 to 8318
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID                8319 non-null   int64
 1   Rodada            8319 non-null   object
 2   Data              8319 non-null   object
 3   Horário           7962 non-null   object
 4   Dia               8319 non-null   object
 5   Mandante          8319 non-null   object
 6   Visitante         8319 non-null   object
 7   Vencedor          8319 non-null   object
 8   Arena             8319 non-null   object
 9   Mandante Placar   8319 non-null   int64
 10  Visitante Placar  8319 non-null   int64
 11  Estado Mandante   8319 non-null   object
 12  Estado Visitante  8319 non-null   object
 13  Estado Vencedor   8319 non-null   object
dtypes: int64(3), object(11)
memory usage: 910.0+ KB

In [20]:
# Mostra que é do tipo 'O' ou Object , assim como mostrado no .info()
arenas.dtypes

dtype('O')

In [21]:
# Elemento ou Linha Zero:
arenas[0]

'Maracanã'

In [23]:
# Mostra que a linha 1 
type(arenas[1])

str

In [25]:
# Aplicando metodos nas Strings da tabela:

#arenas.str.lower()
arenas.str.upper()

0           MARACANÃ
1       SÃO JANUÁRIO
2           BARRADÃO
3       CAIO MARTINS
4     ALFREDO JACONI
5     BRINCO DE OURO
6           MINEIRÃO
7      INDEPENDÊNCIA
8      SERRA DOURADA
9      COUTO PEREIRA
10        FONTE NOVA
Name: Arena, dtype: object

In [26]:
# Pegando apenas a coluna 'Arena' do DataFrame Todo:
df.Arena

0                        Maracanã
1                    São Januário
2                        Barradão
3                    Caio Martins
4                  Alfredo Jaconi
                  ...
8314                    Beira Rio
8315    Itaipava Arena Fonte Nova
8316             Arena da Baixada
8317                     Castelão
8318              Antônio Accioly
Name: Arena, Length: 8319, dtype: object

In [27]:
# Quebre em Duas ou use uma virgula quando encontrar um espaço vazio:
df.Arena.str.split(" ")

0                           [Maracanã]
1                      [São, Januário]
2                           [Barradão]
3                      [Caio, Martins]
4                    [Alfredo, Jaconi]
                     ...
8314                      [Beira, Rio]
8315    [Itaipava, Arena, Fonte, Nova]
8316              [Arena, da, Baixada]
8317                        [Castelão]
8318                [Antônio, Accioly]
Name: Arena, Length: 8319, dtype: object

In [28]:
# Substitui '-' por uma virgula ","
df.Dia.str.split("-")

0              [Sábado]
1              [Sábado]
2              [Sábado]
3             [Domingo]
4             [Domingo]
             ...
8314    [Quinta, Feira]
8315    [Quinta, Feira]
8316    [Quinta, Feira]
8317    [Quinta, Feira]
8318    [Quinta, Feira]
Name: Dia, Length: 8319, dtype: object

In [29]:
# METODO 'FIND' / SEARCH OU, COMO LOCALIZAR PALAVRAS DENTRO DOS DATAFRAMES:

# Todas as linhas da coluna Arena que contenham a String 'São'
df[df.Arena.str.contains("São")]

,ID,Rodada,Data,Horário,Dia,Mandante,Visitante,Vencedor,Arena,Mandante Placar,Visitante Placar,Estado Mandante,Estado Visitante,Estado Vencedor
1,2,1,2000-07-29,16h00,Sábado,Vasco,Sport,Sport,São Januário,0,2,RJ,PE,PE
21,22,3,2000-08-06,17h00,Domingo,Vasco,Cruzeiro,-,São Januário,3,3,RJ,MG,-
37,38,5,2000-08-11,20h30,Sexta-feira,Vasco,Corinthians,Vasco,São Januário,1,0,RJ,SP,RJ
68,69,8,2000-08-20,17h00,Domingo,Vasco,Ponte Preta,Vasco,São Januário,2,1,RJ,SP,RJ
102,103,13,2000-09-05,20h30,Terça-feira,Vasco,Athlético-PR,-,São Januário,2,2,RJ,PR,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8250,8251,32,2021-01-23,21:00,Sábado,Vasco,Atlético-MG,Vasco,São Januário,3,2,RJ,MG,RJ
8257,8258,32,2021-01-24,20:30,Domingo,Fluminense,Botafogo-RJ,Fluminense,São Januário,2,0,RJ,RJ,RJ
8259,8260,33,2021-01-31,16:00,Domingo,Vasco,Bahia,-,São Januário,0,0,RJ,BA,-
8293,8294,36,2021-02-14,16:00,Domingo,Vasco,Internacional,Internacional,São Januário,0,2,RJ,RS,RS
8310,8311,38,2021-02-25,21:30,Quinta-Feira,Vasco,Goiás,Vasco,São Januário,3,2,RJ,GO,RJ

In [1]:
import re

In [12]:
re_examples = [
# All of these are True, because 'cat' doesn't start with 'a'
not re.match("a", 'Cat')]

# df[df.Arena.str]

print(re_examples)

[True]