In [1]:
import pandas as pd

In [2]:
df_2008 = pd.read_csv('ath_2008.csv')

In [3]:
df_2012 = pd.read_csv('ath_2012.csv')

In [4]:
# MERGE DA COLUNA ATLETAS -> VEMOS AS INFORMAÇÕES DELES EM 2008 & 2012

# inner -> Pega apenas a Intercessão

# OU SEJA -> SOMENTE QUANDO UM ATLETA GANHOU MEDALHA(s) NAS DUAS COMPETIÇÕES

df_merge = df_2008.merge(df_2012, how='inner', on='Athlete', suffixes=('_2008', '_2012'), indicator=True)

In [5]:
df_merge

,Athlete,Gold_2008,Silver_2008,Bronze_2008,Gold_2012,Silver_2012,Bronze_2012,_merge
0,"BARRIOS, Yarelys",0,1,0,0,0,1,both
1,"BLEDMAN, Keston",0,1,0,0,1,0,both
2,"BOLT, Usain",3,0,0,3,0,0,both
3,"BURNS, Marc",0,1,0,0,1,0,both
4,"CALLENDER, Emmanuel",0,1,0,0,1,0,both
5,"CAMPBELL-BROWN, Veronica",1,0,0,0,1,1,both
6,"CARTER, Nesta",1,0,0,1,0,0,both
7,"CHICHEROVA, Anna",0,0,1,1,0,0,both
8,"DEFAR, Meseret",0,0,1,1,0,0,both
9,"DIBABA, Tirunesh",2,0,0,1,0,1,both
10,"FELIX, Allyson",1,1,0,3,0,0,both
11,"FIROVA, Tatiana",0,1,0,0,1,0,both
12,"FRATER, Michael",1,0,0,1,0,0,both
13,"GUSHCHINA, Yulia",1,1,0,0,1,0,both
14,"HARPER, Dawn",1,0,0,0,1,0,both
15,"KANTER, Gerd",1,0,0,0,0,1,both
16,"KOZMUS, Primoz",1,0,0,0,1,0,both
17,"LLOYD, Shereefa",0,0,1,0,0,1,both
18,"MAJEWSKI, Tomasz",1,0,0,1,0,0,both
19,"MATHIEU, Michael",0,1,0,1,0,0,both
20,"OHURUOGU, Christine",1,0,0,0,1,0,both
21,"SIMPSON, Sherone",0,1,0,0,1,0,both
22,"SPOTAKOVA, Barbora",1,0,0,1,0,0,both
23,"STEWART, Kerron",0,1,1,0,1,0,both
24,"STUCZYNSKI, Jennifer",0,1,0,1,0,0,both
25,"SUAREZ, Leonel",0,0,1,0,0,1,both
26,"TALLENT, Jared",0,1,1,1,0,0,both
27,"TAYLOR, Angelo",2,0,0,0,1,0,both
28,"THOMPSON, Richard",0,2,0,0,1,0,both
29,"WHYTE, Rosemarie",0,0,1,0,0,1,both
30,"WILLIAMS, Shericka",0,1,1,0,0,1,both
31,"ZHANG, Wenxiu",0,0,1,0,0,1,both

In [6]:
# VER NMERO DE INTERCESSÕES
df_merge._merge.value_counts()

# 32 inter...

both          32
left_only      0
right_only     0
Name: _merge, dtype: int64